@charset "UTF-8";
/*Colores*/
/*Fuentes*/
/*Tamaño de fuentes*/
/*ancho fuentes*/
/*Fondos*/
/*Maps*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "poppins", sans-serif; }

a {
  text-decoration: none !important; }

ul {
  list-style-type: none; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__imagen--destinos {
    background-image: url(../imagenes/playa.jpg);
    background-size: cover;
    width: 100vw;
    height: 50rem;
    background-repeat: no-repeat; }
  .header__imagen--autos {
    background-image: url(../../imagenes/route_66.avif);
    background-size: cover;
    width: 100vw;
    height: 50rem;
    background-repeat: no-repeat; }
  .header__imagen--hoteles {
    background-image: url(../../imagenes/las__vegas.avif);
    background-size: cover;
    width: 100vw;
    height: 50rem;
    background-repeat: no-repeat; }
  .header__nav__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 12rem; }
    .header__nav__contenedor .header__logo {
      transition: 2s; }
      .header__nav__contenedor .header__logo h1 {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        color: #ffffff; }
  .header__nav__lista {
    display: flex;
    flex-wrap: wrap;
    font-family: 'poppins',sans-serif;
    list-style: none; }
    .header__nav__lista a {
      padding: 2.5rem;
      font-size: 2rem;
      color: #ffffff; }
    .header__nav__lista li {
      transition: 0.4s; }
    .header__nav__lista li:hover {
      transform: scale(1.2); }

/*Buscador dentro del header, es el container de todos 
los input de cada seccion para buscar determinado servicio.*/
.buscador {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 1.3rem;
  width: 112rem;
  height: 25rem;
  margin-top: 8.5rem;
  max-width: 1600px;
  /* Esta parte pertenece a la seccion autos, son inputs dentro de buscador*/
  /*Botones dentro de los buscadores Destinos,Hoteles,Autos,*/ }
  .buscador .buscador__titulo {
    margin-left: 1rem;
    font-size: 2.3rem;
    font-weight: 300; }
  .buscador .buscador__selector {
    font-size: 1.7rem;
    font-weight: 400;
    color: #3a3a3a; }
    .buscador .buscador__selector input[type="radio"] {
      margin: 1rem;
      accent-color: #808080; }
  .buscador .buscador__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .buscador .buscador__container .buscador__de__vuelos__eleccion {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 157px;
      height: 5rem;
      border-radius: 15px;
      background-color: #AFACAC; }
      .buscador .buscador__container .buscador__de__vuelos__eleccion input {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        width: 14rem;
        height: 25px;
        background-color: #AFACAC;
        border: 0;
        border-radius: 0.7rem;
        outline: 0; }
      .buscador .buscador__container .buscador__de__vuelos__eleccion h4 {
        font-weight: 400; }
    .buscador .buscador__container .buscador__de__vuelos__imagen {
      width: 5rem;
      animation: movimiento 2s linear infinite; }
  .buscador__container__checkboxboton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 55%; }
  .buscador__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-weight: 200;
    font-size: 1.6rem;
    color: #3a3a3a; }
    .buscador__checkbox input[type="checkbox"] {
      margin-left: 5px;
      margin-right: 10px;
      accent-color: #8d8585; }
  .buscador__container__inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .buscador__autos__eleccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.8rem;
    height: 5rem;
    border-radius: 15px;
    background-color: #AFACAC; }
    .buscador__autos__eleccion h4 {
      font-weight: 400; }
    .buscador__autos__eleccion input {
      font-family: "poppins", sans-serif;
      font-size: 1.4rem;
      width: 13.4rem;
      height: 2.5rem;
      background-color: #AFACAC;
      border: none;
      outline: 0;
      color: black; }
  .buscador__container__inputs__hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .buscador__hotel__eleccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 5rem;
    border-radius: 0.9rem;
    background-color: #AFACAC; }
    .buscador__hotel__eleccion h4 {
      font-weight: 400; }
    .buscador__hotel__eleccion input {
      font-family: "poppins", sans-serif;
      font-size: 1.4rem;
      width: 12.5rem;
      height: 2.5rem;
      background-color: #AFACAC;
      border: none;
      outline: 0;
      color: black; }
  .buscador__hotel__eleccion--width {
    width: 25rem; }
    .buscador__hotel__eleccion--width input {
      width: 18rem; }
  .buscador__container__titulo-boton {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 58.9%; }
  .buscador__container__checkbox {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    font-weight: 200;
    gap: 0.5rem;
    accent-color: grey; }
  .buscador__boton__alojamiento {
    border-radius: 0.9rem;
    width: 20rem;
    height: 3.6rem;
    color: #ffffff;
    background-color: #494848;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s; }
    .buscador__boton__alojamiento:hover {
      cursor: pointer;
      transform: scale(0.94); }
  .buscador__boton__vuelo {
    border-radius: 0.9rem;
    width: 20rem;
    height: 3.6rem;
    color: #ffffff;
    background-color: #494848;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s; }
    .buscador__boton__vuelo:hover {
      cursor: pointer;
      transform: scale(0.94); }
  .buscador__boton__buscar {
    border-radius: 0.9rem;
    width: 120px;
    height: 50px;
    color: #ffffff;
    background-color: rgba(238, 34, 34, 0.918);
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s; }
    .buscador__boton__buscar:hover {
      cursor: pointer;
      background-color: #ff8800;
      transform: scale(0.9);
      box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.37); }
  .buscador__boton__buscar--width {
    width: 17rem; }

/*Keyframes dentro del header*/
@keyframes movimiento {
  0% {
    transform: translateX(0); }
  50% {
    transform: translate(8px, -5px); }
  100% {
    transform: translateX(0); } }

.fondo__pagina {
  background-image: url(../imagenes/paris.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.contenido__principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin-left: 2rem; }
  .contenido__principal img {
    width: 40rem;
    height: 33rem; }
  .contenido__principal h2 {
    font-size: 10rem;
    width: 70rem; }

/*Main de la seccion destinos.html*/
.grid__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  row-gap: 6rem;
  column-gap: 2.5rem; }
  .grid__container .container__titulo {
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    margin-top: 3rem; }
    .grid__container .container__titulo .ofertas__titulo {
      text-align: center;
      font-size: 5rem;
      font-family: 'poppins',sans-serif; }
      .grid__container .container__titulo .ofertas__titulo .ofertas__titulo--color {
        color: #ff0000; }
    .grid__container .container__titulo .ofertas__subtitulo {
      display: flex;
      justify-content: center;
      font-size: 1.7rem;
      font-family: 'poppins',sans-serif;
      text-align: justify;
      font-weight: 300;
      grid-column: 1/5; }
  .grid__container .ofertas__lugares__container__grid {
    grid-column: 1/5;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .grid__container .ofertas__lugares__container__grid .ofertas__lugares--promo--tamaño {
      border-radius: 1.9rem;
      width: 26.7rem;
      height: 40rem;
      box-shadow: 1px 3px 20px #b1a9a9;
      transition: 0.3s; }
      .grid__container .ofertas__lugares__container__grid .ofertas__lugares--promo--tamaño:hover {
        cursor: pointer;
        transform: scale(1.02); }
    .grid__container .ofertas__lugares__container__grid .ofertas__lugares__imagen {
      width: 26.74rem;
      height: 250px;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem; }
    .grid__container .ofertas__lugares__container__grid .ofertas__lugares__container {
      width: 100%;
      height: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; }
      .grid__container .ofertas__lugares__container__grid .ofertas__lugares__container .ofertas__lugares__titulo {
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        margin-left: 3.1rem; }
      .grid__container .ofertas__lugares__container__grid .ofertas__lugares__container .ofertas__lugares__subtitulo {
        font-weight: 400;
        font-size: 1.7rem; }
      .grid__container .ofertas__lugares__container__grid .ofertas__lugares__container .ofertas__lugares__precio {
        font-size: 1.5rem;
        font-weight: 500;
        background-color: rgba(238, 34, 34, 0.767);
        color: #ffffff;
        border-radius: 7px;
        width: 7.1rem;
        text-align: center; }
  .grid__container .ofertas__mes {
    grid-column: 1/5;
    width: 1200px;
    height: 500px;
    border-radius: 8px;
    background: #fd1d1d;
    background: linear-gradient(0deg, #fd1d1d 15%, #f25353 52%, #e95757 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "poppins", sans-serif;
    margin: auto; }
    .grid__container .ofertas__mes .ofertas__mes__container__texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; }
      .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__titulo {
        color: #ffffff;
        font-size: 6rem; }
      .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__subtitulo {
        font-size: 2rem;
        background-color: white;
        border-radius: 1rem;
        width: 50rem;
        text-align: center; }
      .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento {
        font-size: 2rem;
        color: #ffffff; }
        .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento span {
          font-size: 4rem; }
      .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__hotel {
        color: #ffffff;
        font-size: 4rem; }
    .grid__container .ofertas__mes .ofertas__mes__imagen img {
      height: 35rem;
      border-radius: 2rem; }
  .grid__container .cuotas__interes {
    grid-column: 1/3;
    justify-self: center;
    font-family: var(--font-principal);
    background-color: rgba(255, 0, 0, 0.8);
    width: 50rem;
    max-width: 1200px;
    height: 400px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .grid__container .cuotas__interes .cuotas__interes__subfondo {
      background-color: white;
      width: 47rem;
      height: 37rem;
      border-radius: 1.5rem; }
      .grid__container .cuotas__interes .cuotas__interes__subfondo .cuotas__interes__subfondo__texto {
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 4.5rem;
        width: 47rem;
        height: 37rem;
        border-radius: 1.5rem; }
  .grid__container .cuotas__paisaje {
    grid-column: 3/5;
    justify-self: center;
    background-color: rgba(255, 0, 0, 0.8);
    width: 50rem;
    max-width: 1200px;
    height: 400px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .grid__container .cuotas__paisaje img {
      width: 470px;
      height: 37rem;
      border-radius: 8px; }

/* Sector main de autos*/
.autos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140rem;
  margin-top: 6rem; }
  .autos__container__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 125rem;
    margin: auto; }
  .autos__titulo {
    font-size: 4rem;
    text-align: center;
    font-weight: 400; }
  .autos__titulo--color {
    color: #ff0000; }
  .autos__alquiler__tamaño {
    border-radius: 1.9rem;
    width: 26.7rem;
    height: 40rem;
    box-shadow: 1px 3px 20px #b1a9a9;
    transition: 0.2s;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .autos__alquiler__tamaño:hover {
      cursor: pointer;
      transform: scale(1.02); }
  .autos__alquiler__container--texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .autos__alquiler__container--coberturas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15rem; }
  .autos__alquiler__subcontainer--textos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    width: 10rem; }
  .autos__container--logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .autos__alquiler1__descuento {
    font-size: 4rem;
    text-align: center; }
  .autos__alquiler1__boton {
    border-radius: 0.9rem;
    width: 9rem;
    height: 4rem;
    color: #ffffff;
    background-color: rgba(238, 34, 34, 0.918);
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s; }
    .autos__alquiler1__boton:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .autos__alquiler__lugar {
    font-size: 2rem;
    font-weight: 500; }
  .autos__alquiler__cobertura {
    font-size: 1rem;
    font-weight: 500; }
  .autos__alquiler__precio {
    font-size: 1.5rem;
    background-color: rgba(238, 34, 34, 0.767);
    border-radius: 0.5rem;
    color: #ffffff;
    width: 6.5rem;
    text-align: center; }
  .autos__alquiler1__imagenhertz {
    width: 13.5rem;
    height: 8.5rem; }
  .autos__alquiler__logo {
    width: 8rem;
    height: 6.2rem; }
  .autos__alquiler__img {
    width: 26.74rem;
    height: 250px;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem; }

.autos__subtitulo {
  font-size: 1.5rem; }

.body--background--contacto {
  background-image: url(../../imagenes/rocas__fondo__contacto.avif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh; }

.relleno__height {
  height: 30rem;
  width: 100%;
  display: none; }

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70rem; }
  .formulario__container {
    background-color: rgba(255, 255, 255, 0.952);
    width: 60%;
    height: 40rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.37); }
  .formulario__titulo {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 400;
    font-family: Helvetica,sans-serif; }
  .formulario__nombre-apellido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%; }
  .formulario__nombre, .formulario__apellido, .formulario__select, .formulario__mail {
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 1rem;
    text-align: center; }
    .formulario__nombre input, .formulario__apellido input, .formulario__select input, .formulario__mail input {
      background-color: #808080;
      outline: 0;
      border: 0;
      border-radius: 0.3rem;
      color: #ffffff;
      font-family: "poppins", sans-serif, sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      height: 3rem;
      text-align: center; }
  .formulario__select select {
    background-color: #808080;
    outline: 0;
    border-radius: 0.3rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
    height: 3rem; }
  .formulario__mail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .formulario__mail input {
      width: 40rem; }
  .formulario__textarea {
    background-color: #808080;
    color: #ffffff;
    font-family: "poppins", sans-serif, sans-serif; }
  .formulario__botones {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0; }
  .formulario__reset__submit {
    font-size: 2rem;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 0.75rem;
    background-color: black;
    color: rgba(255, 255, 255, 0.952);
    width: 10rem;
    transition: 0.3s; }
    .formulario__reset__submit:hover {
      cursor: pointer;
      transform: scale(0.94); }
  .formulario__reset__submit--background--red {
    background-color: rgba(238, 34, 34, 0.918); }

/*Sector financiamiento,lo comparten todas las paginas excepto el index.*/
.financiamiento {
  margin: auto;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .financiamiento .financiamiento__titulo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    width: 104rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .financiamiento .financiamiento__formasdepago {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    flex-wrap: wrap;
    height: 14rem;
    margin-bottom: 4rem; }
    .financiamiento .financiamiento__formasdepago .financiamiento__formasdepago__iconos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .financiamiento .financiamiento__formasdepago .financiamiento__formasdepago__iconos img {
        width: 80px;
        height: 60px; }
      .financiamiento .financiamiento__formasdepago .financiamiento__formasdepago__iconos h5 {
        font-size: 1.6rem; }
  .financiamiento .financiamiento__boton__bancos {
    border: none;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.836);
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    font-family: "poppins", sans-serif;
    transition: 0.3s;
    margin-bottom: 4rem; }

.financiamiento__boton__bancos:hover {
  background-color: #ee3636;
  cursor: pointer;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);
  transform: scale(0.94); }

/* Sector previo al footer que comparten todas las paginas excepto el index.*/
.prefooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 21rem; }
  .prefooter .prefooter__legales__textouno {
    font-size: 1.9rem;
    word-spacing: 5px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem; }
  .prefooter .prefooter__legales__textodos {
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem; }
  .prefooter__boton {
    border-radius: 0.9rem;
    width: 25rem;
    height: 5rem;
    color: #ffffff;
    background-color: rgba(238, 34, 34, 0.918);
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s; }
    .prefooter__boton:hover {
      cursor: pointer;
      background-color: #ff8800;
      transform: scale(0.9);
      box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.37); }

.newsletter {
  width: 100%;
  background-color: rgba(238, 34, 34, 0.918);
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .newsletter__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 5rem; }
  .newsletter__boton-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .newsletter__input {
    background-color: #e4e4e4;
    outline: 0;
    border: 0;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    height: 3rem;
    width: 40rem;
    font-weight: 500;
    font-family: monospace;
    transition: 0.2s; }
    .newsletter__input:hover {
      outline: solid 4px #ff8800; }
  .newsletter__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400; }
  .newsletter__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 8rem; }
    .newsletter__logos:hover {
      cursor: pointer; }
  .newsletter__boton__enviar {
    border-radius: 0.9rem;
    width: 10rem;
    height: 3rem;
    color: #ffffff;
    background-color: #232323;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s;
    border-radius: 0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    transition: 0.6s; }
    .newsletter__boton__enviar:hover {
      cursor: pointer;
      background-color: #808080; }

/* COMIENZO DEL FOOTER COMPARTIDO POR TODAS LAS PAGINAS*/
.footer {
  background-color: rgba(0, 0, 0, 0.918);
  width: 100%;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif, sans-serif;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300; }
  .footer__container {
    width: 70%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .footer__lista__horarios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 0.1rem solid #ffffff; }
  .footer__subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .footer__lista__varios {
    border: 0.1rem solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%; }
    .footer__lista__varios a {
      color: white; }
  .footer__contacto-logo {
    width: 20%; }
  .footer__imagen {
    width: 12.6rem;
    height: 5rem; }
  .footer__copyright {
    font-weight: 400;
    font-size: 1.2rem; }

.whastapp-fixed {
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 999; }
  .whastapp-fixed:hover {
    cursor: pointer; }

/* MEDIAS QUERIES*/
/* Height*/
@media (max-height: 801px) {
  .relleno__height {
    display: block; } }

@media (max-width: 1630px) {
  .financiamiento__titulo {
    text-align: center;
    justify-content: center; }
  body {
    overflow-x: hidden; } }

@media (max-width: 1545px) {
  .autos {
    height: 160rem; } }

@media (max-width: 1230px) {
  .formulario__mail input {
    width: auto; }
  .formulario__textarea {
    width: 40rem; } }

@media (max-width: 1205px) {
  .grid__container .ofertas__lugares__container__grid {
    grid-column: 2/4; }
  .grid__container .ofertas__mes {
    grid-column: 2/4;
    width: 105rem;
    height: 55rem; }
  .grid__container .ofertas__mes .ofertas__mes__imagen img {
    height: 30rem;
    width: 31rem;
    border-radius: 2rem; }
  .grid__container .cuotas__interes {
    grid-column: 2/3; }
  .grid__container .cuotas__paisaje {
    grid-column: 3/4; }
  .financiamiento {
    grid-column: 2/3; }
  .autos {
    height: 180rem; } }

@media (max-width: 1105px) {
  .grid__container .ofertas__mes {
    width: 89rem;
    height: 65rem; }
  .grid__container .cuotas__interes, .grid__container .cuotas__paisaje {
    width: 30rem; }
  .grid__container .cuotas__interes .cuotas__interes__subfondo {
    width: 26rem; }
  .grid__container .cuotas__interes .cuotas__interes__subfondo .cuotas__interes__subfondo__texto {
    width: auto;
    font-size: 3.5rem; }
  .grid__container .cuotas__interes, .grid__container .cuotas__paisaje img {
    width: 28rem; }
  .autos {
    height: 200rem; } }

@media (max-width: 1125px) {
  .autos {
    margin-top: 14rem; }
  .autos__container__flex {
    margin-top: 5rem;
    margin-bottom: 5rem; } }

@media (max-width: 1160px) {
  .buscador {
    height: 40rem;
    width: 95%;
    margin-bottom: 2rem; }
  .header {
    height: auto; }
  .autos__container__flex {
    width: 95%; }
  .formulario__container {
    height: 65rem;
    width: 90%; } }

@media (max-width: 1060px) {
  .header .header__nav__contenedor {
    flex-direction: column;
    align-items: center; }
  .buscador .buscador__container {
    justify-content: center; }
  .buscador__container__inputs {
    justify-content: center; }
  .buscador__container__titulo-boton {
    width: 94%;
    flex-wrap: wrap; }
  .buscador .buscador__container .buscador__de__vuelos__imagen {
    display: none; }
  .buscador .buscador__container .buscador__de__vuelos__eleccion, .buscador__autos__eleccion, .buscador__hotel__eleccion {
    margin: 0.2rem;
    width: 25rem; }
  .financiamiento {
    height: auto; }
  .footer {
    width: 100%;
    height: 20rem;
    text-align: center; }
  .financiamiento .financiamiento__titulo {
    justify-content: center; }
  .grid__container .ofertas__mes {
    width: 71rem;
    height: 85rem;
    flex-direction: column;
    justify-content: space-around; }
  .grid__container .ofertas__mes img {
    width: 45rem;
    height: 36rem;
    margin-bottom: 2rem; }
  .buscador__container__checkboxboton--width {
    width: 90%; } }

@media (max-width: 1026px) {
  .newsletter__logos {
    margin: 2rem 0; }
  .prefooter {
    height: auto; }
  .prefooter__boton {
    margin: 1rem 0; }
  .ofertas__lugares__promo1, .ofertas__lugares__promo2, .ofertas__lugares__promo3, .ofertas__lugares__promo4 {
    margin-bottom: 5rem; } }

/*TABLET */
@media (max-width: 768px) {
  .header .header__nav__contenedor {
    height: auto; }
  .header__nav__lista {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem 0; }
  .buscador .buscador__container .buscador__de__vuelos__eleccion, .buscador__autos__eleccion {
    margin-bottom: 1rem; }
  .grid__container .ofertas__mes {
    width: 66rem;
    height: 91rem; }
  .ofertas__lugares__promo1, .ofertas__lugares__promo2, .ofertas__lugares__promo3, .ofertas__lugares__promo4 {
    margin-bottom: 5rem; } }

@media (max-width: 700px) {
  .buscador .buscador__container__checkboxboton {
    width: 100%;
    justify-content: space-around; }
  .buscador {
    height: 50rem;
    width: 95%; }
  .buscador__container__titulo-boton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 17rem;
    text-align: center; }
  .prefooter {
    height: auto; }
  .grid__container .ofertas__mes {
    width: 55rem; }
  .grid__container .cuotas__paisaje {
    grid-column: 1/5;
    width: 50rem; }
  .grid__container .cuotas__paisaje img {
    width: 47rem; }
  .grid__container .cuotas__interes {
    grid-column: 1/5;
    width: 50rem; }
  .grid__container .cuotas__interes .cuotas__interes__subfondo {
    width: 47rem; }
  .contenido__principal {
    flex-wrap: wrap; }
  .contenido__principal__titulo {
    display: flex;
    flex-wrap: wrap; }
  .contenido__principal h2 {
    font-size: 5rem;
    width: 70rem; }
  .contenido__principal img {
    width: 20rem;
    height: 15rem; }
  .autos {
    height: 240rem; }
  .autos__container__flex {
    width: 95%; }
  .formulario__textarea {
    width: 70%;
    height: auto; } }

@media (max-width: 630px) {
  .header__nav__lista {
    gap: 3rem; }
  .contenido__principal {
    margin-left: 0; }
  .contenido__principal h2 {
    width: 50rem;
    margin: auto; }
  .contenido__principal img {
    width: 20rem;
    height: 15rem;
    margin: auto; } }

@media (max-width: 600px) {
  .buscador {
    height: 70rem; }
  .buscador .buscador__container {
    flex-direction: row; }
  .buscador .buscador__container .buscador__de__vuelos__eleccion, .buscador__autos__eleccion, .buscador__hotel__eleccion {
    width: 75%;
    margin: 1rem; }
  .buscador__de__vuelos__eleccion--width {
    border: solid black;
    width: 40%; }
  .buscador .buscador__container .buscador__de__vuelos__eleccion input {
    width: 70%; }
  .buscador__autos__eleccion input {
    width: 70%; }
  .newsletter__input {
    width: 20rem; }
  .prefooter {
    flex-wrap: wrap;
    height: auto; }
  .prefooter .boton__arrepentimiento {
    margin-bottom: 2rem; }
  .financiamiento .financiamiento__formasdepago {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    justify-content: space-evenly; }
  .grid__container .ofertas__mes {
    width: 40rem; }
  .grid__container .ofertas__mes img {
    width: 27rem;
    height: 20rem; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__titulo {
    font-size: 4rem; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__subtitulo {
    width: 30rem;
    font-size: 2rem; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento {
    display: flex;
    flex-direction: column; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__hotel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 28rem;
    text-align: center; }
  .grid__container .container__titulo {
    margin: auto;
    width: 30rem; }
  .grid__container .container__titulo .ofertas__titulo {
    width: 30rem;
    margin: auto; }
  .grid__container .container__titulo .ofertas__subtitulo {
    text-align: center; }
  .grid__container .cuotas__interes {
    width: 40rem; }
  .grid__container .cuotas__interes .cuotas__interes__subfondo {
    width: 37rem; }
  .grid__container .cuotas__paisaje {
    width: 40rem; }
  .grid__container .cuotas__paisaje img {
    width: 37rem; }
  .autos {
    height: 250rem; } }

@media (max-width: 590px) {
  .buscador__container__titulo-boton {
    margin: auto;
    height: 14rem; }
  .buscador__container__checkboxboton {
    margin: 2rem 0; }
  .buscador__flex--position {
    display: flex;
    justify-content: center;
    height: 60rem; }
  .formulario__mail, .formulario__nombre, .formulario__apellido, .formulario__select, .formulario__mail, .formulario__titulo {
    text-align: center; }
  .formulario__titulo {
    font-size: 2rem; } }

@media (max-width: 570px) {
  .autos {
    height: auto; }
  .autos__container__flex {
    justify-content: center; }
  .autos__alquiler__tamaño:active {
    cursor: pointer;
    transform: scale(1.02); } }

/* MOBILE LARGE*/
@media (max-width: 475px) {
  .header__logo {
    display: flex;
    justify-content: flex-start; }
  .header__nav__lista {
    flex-direction: column;
    align-items: flex-start; }
    .header__nav__lista li {
      margin: 0.8rem; }
  .buscador .buscador__container__checkboxboton {
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .buscador .buscador__container__checkboxboton .buscador__checkbox {
    margin-bottom: 2rem; }
  .buscador__container__titulo-boton {
    flex-wrap: inherit; }
  .grid__container .ofertas__mes {
    width: 28rem; }
  .grid__container .ofertas__mes .ofertas__mes__imagen img {
    width: 23rem;
    height: 17rem; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__titulo {
    font-size: 3rem; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__subtitulo {
    width: 18rem;
    font-size: 1.6rem; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    align-items: center; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento span {
    width: 15rem;
    text-align: center; }
  .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__hotel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 24rem;
    text-align: center;
    font-size: 3rem; }
  .grid__container .cuotas__interes {
    width: 28rem; }
  .grid__container .cuotas__interes .cuotas__interes__subfondo {
    width: 25rem; }
  .grid__container .cuotas__interes .cuotas__interes__subfondo .cuotas__interes__subfondo__texto {
    font-size: 2.5rem;
    text-align: center;
    width: 19rem;
    height: 37rem;
    margin: auto; }
  .grid__container .cuotas__paisaje {
    width: 28rem; }
  .grid__container .cuotas__paisaje img {
    width: 25rem; }
  .ofertas__lugares__promo1, .ofertas__lugares__promo2, .ofertas__lugares__promo3, .ofertas__lugares__promo4 {
    margin-bottom: 5rem; }
  .autos {
    height: 400rem; }
  .autos__titulo {
    font-size: 3rem; }
  .newsletter {
    height: 15rem;
    align-items: flex-start; }
  .formulario__container {
    height: 65rem; }
  .formulario__titulo {
    text-align: center; }
  .formulario__nombre-apellido {
    flex-wrap: wrap; }
  .formulario__textarea {
    height: 15rem; }
  .formulario__botones {
    width: 80%; }
  .newsletter__texto {
    margin: 1rem 0;
    text-align: center; }
  .prefooter__boton {
    border-radius: 0.9rem;
    width: 10rem;
    height: 5rem;
    color: #ffffff;
    background-color: rgba(238, 34, 34, 0.918);
    font-weight: 400;
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    border: 0;
    transition: 0.3s;
    font-size: 1rem; }
    .prefooter__boton:hover {
      cursor: pointer;
      background-color: #ff8800;
      transform: scale(0.9);
      box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.37); }
  .footer {
    width: 100%;
    height: 30rem;
    font-size: 1.4rem; }
    .footer__container {
      margin-top: 3rem;
      width: 90%; }
    .footer__subcontainer {
      flex-direction: column;
      height: auto; }
    .footer__lista__horarios {
      margin-bottom: 3rem;
      width: 100%; }
    .footer__lista__varios {
      width: 100%; }
      .footer__lista__varios a {
        padding: 1rem 1rem; }
    .footer__contacto-logo {
      width: 100%;
      margin-top: 2rem; }
  .prefooter {
    height: auto;
    justify-content: space-evenly; }
  .prefooter .prefooter__legales__textouno {
    margin-top: 2rem;
    font-size: 1.5rem; }
  .prefooter .prefooter__legales__textodos {
    margin-bottom: 2rem;
    font-size: 1.5rem; }
  .financiamiento {
    height: 65rem; }
  .financiamiento .financiamiento__titulo {
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: center; }
  .financiamiento .financiamiento__formasdepago {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    height: auto; }
  .financiamiento .financiamiento__formasdepago .financiamiento__formasdepago__iconos {
    padding: 1rem; }
  .contenido__principal {
    margin-left: 0; }
  .contenido__principal h2 {
    font-size: 3rem;
    width: 38rem;
    margin: auto;
    text-align: center; }
  .contenido__principal img {
    width: 14rem;
    height: 10rem;
    margin-left: auto; } }

@media (max-width: 400px) {
  .buscador__titulo--margin {
    text-align: center;
    margin-top: 2rem; }
  .newsletter__input {
    width: 15rem; } }

@media (max-width: 370px) {
  .grid__container .container__titulo .ofertas__titulo {
    font-size: 3rem; }
  .grid__container .container__titulo .ofertas__subtitulo {
    font-size: 2rem; }
  .contenido__principal {
    margin-left: 0; }
  .contenido__principal h2 {
    width: 20rem;
    margin: auto; }
  .contenido__principal img {
    width: 14rem;
    height: 10rem;
    margin: auto; }
  .buscador .buscador__titulo {
    font-size: 2rem; } }

@media (max-width: 330px) {
  .financiamiento {
    height: 60rem; }
  /*
    .prefooter .boton__arrepentimiento button{
        width: 20rem;
    }
    */
  .prefooter .prefooter__legales__textouno {
    font-size: 1.5rem; }
  .prefooter .prefooter__legales__textodos {
    font-size: 1.5rem; }
  .footer {
    font-size: 1.4rem; }
  .financiamiento .financiamiento__boton__bancos {
    width: 20rem;
    font-size: 1.5rem; } }
