/* MEDIAS QUERIES*/

/* Height*/
@media(max-height:801px){
    
    .relleno__height{
        display: block;
        
    }
}

@media(max-width:1630px){
    .financiamiento__titulo{
        text-align: center;
        justify-content: center;
    }
    body{
        overflow-x: hidden;
    }
}
@media(max-width:1545px){
    .autos{
        height:160rem;
    }
}
@media(max-width:1230px){
    .formulario__mail{
        input{
            width: auto;
        }
    }
    .formulario__textarea{
        width: 40rem;
    }
}

@media(max-width:1205px){
    .grid__container .ofertas__lugares__container__grid{
        grid-column: 2/4;
        
    }
    .grid__container .ofertas__mes {
        grid-column: 2/4;
        width: 105rem;
        height: 55rem;
    }
    .grid__container .ofertas__mes .ofertas__mes__imagen img {
        height: 30rem;
        width: 31rem;
        border-radius: 2rem;
    }
    .grid__container .cuotas__interes{
        grid-column: 2/3;
    }
    .grid__container .cuotas__paisaje{
        grid-column: 3/4;
    }
    .financiamiento{
        grid-column: 2/3;
    }
    .autos{
        height:180rem;
    }
    
   
}
@media(max-width:1105px){
    .grid__container .ofertas__mes{
        width: 89rem;
        height: 65rem;
    }
    .grid__container .cuotas__interes, .grid__container .cuotas__paisaje{
        width: 30rem;
    }
    .grid__container .cuotas__interes .cuotas__interes__subfondo{
        width: 26rem;
    }
    .grid__container .cuotas__interes .cuotas__interes__subfondo .cuotas__interes__subfondo__texto{
        width: auto;
        font-size: 3.5rem;
    }
    .grid__container .cuotas__interes, .grid__container .cuotas__paisaje img{
        width: 28rem;
        
    }
    .autos{
        height:200rem;
    }
     
}
@media (max-width:1125px){
    .autos{
        margin-top: 14rem;
    }
    .autos__container__flex{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}





@media(max-width:1160px){
    .buscador{
        height: 40rem;
        width: 95%;
        margin-bottom: 2rem;
    }
    .header{
        height: auto;
    }
    .autos__container__flex{
        width: 95%;
    }
    .formulario__container{
        height: 65rem;
        width: 90%;
    }
}

@media(max-width:1060px){
    .header .header__nav__contenedor{
        flex-direction: column;
        align-items: center;
    }
    .buscador .buscador__container{
        justify-content: center;
        
    }
    .buscador__container__inputs{
        justify-content: center;
        
    }
    .buscador__container__titulo-boton{
        width: 94%;
        flex-wrap: wrap;
        
    }
    
    .buscador .buscador__container .buscador__de__vuelos__imagen{
        display: none;
    }
    .buscador .buscador__container .buscador__de__vuelos__eleccion,.buscador__autos__eleccion,.buscador__hotel__eleccion{
        margin: 0.2rem;
        width: 25rem;
    }

    .financiamiento{
        height: auto;
    }
    .footer{
        width: 100%;
        height: 20rem;
        text-align: center;
    }
    .financiamiento .financiamiento__titulo {
        justify-content: center;
    }
    .grid__container .ofertas__mes{
        width: 71rem;
        height: 85rem;
        flex-direction: column;
        justify-content: space-around;
    }
    .grid__container .ofertas__mes img{
        width: 45rem;
        height: 36rem;
        margin-bottom: 2rem;

    }
    .buscador__container__checkboxboton--width{
        width: 90%;
    }
}
@media (max-width:1026px){
    
    .newsletter__logos{
        margin: 2rem 0;
    }
    .prefooter{
        height: auto;
    }
    .prefooter__boton{
        margin: 1rem 0;
    }
    .ofertas__lugares__promo1,.ofertas__lugares__promo2,.ofertas__lugares__promo3,.ofertas__lugares__promo4{
        margin-bottom: 5rem;
     }
}


/*TABLET */
@media(max-width:768px){
    .header .header__nav__contenedor{
        height: auto;
    }
    .header .header__nav__contenedor .header__nav .header__nav__lista {
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
    .buscador .buscador__container .buscador__de__vuelos__eleccion,.buscador__autos__eleccion{
        margin-bottom: 1rem;
    }
   
    .grid__container .ofertas__mes{
        width: 66rem;
        height: 91rem;
    }
    .ofertas__lugares__promo1,.ofertas__lugares__promo2,.ofertas__lugares__promo3,.ofertas__lugares__promo4{
        margin-bottom: 5rem;
     }
    
}
@media(max-width:700px){
    .buscador .buscador__container__checkboxboton{
        
        width: 100%;
        justify-content: space-around;
    }
    .buscador{
        height: 50rem;
        width: 95%;
    }
    .buscador__container__titulo-boton{
        @include D-Flex(column,space-evenly,center);
        height: 17rem;
        text-align: center;
    }
    
    .prefooter{
        height: auto;
    }
    
    .grid__container .ofertas__mes{
        width: 55rem;
    }
    .grid__container .cuotas__paisaje{
        grid-column: 1/5;
        width: 50rem;
    }
    .grid__container .cuotas__paisaje img{
        width: 47rem;
    }
    .grid__container .cuotas__interes {
        grid-column: 1/5;
        width: 50rem;
    }
    .grid__container .cuotas__interes .cuotas__interes__subfondo{
        width: 47rem;
    }
    .contenido__principal{
        
        flex-wrap: wrap;
    }
    .contenido__principal__titulo{
        display: flex;
        flex-wrap: wrap;
    }
    .contenido__principal h2{
        font-size: 5rem;
        width: 70rem;
        
        
    }
    .contenido__principal img{
        width: 20rem;
        height: 15rem;
    }
    .autos{
        height:240rem;
    }
    .autos__container__flex{
        width: 95%;
    }
    
    
    .formulario__textarea{
        width: 70%;
        height: auto;
    }
    
    
    
     
}


@media(max-width:630px){
    .contenido__principal{
        margin-left: 0;
    }
    .contenido__principal h2{
        
        width: 50rem;
        margin: auto;
        
    }
    .contenido__principal img{
        width: 20rem;
        height: 15rem;
        margin: auto;
    }
    
}

@media(max-width:600px){
    .buscador{
        height: 70rem;
    }
    .buscador .buscador__container {
        flex-direction: row;
    }

    .buscador .buscador__container .buscador__de__vuelos__eleccion,.buscador__autos__eleccion,.buscador__hotel__eleccion{
        width: 75%;
        margin: 1rem;
    }
    .buscador__de__vuelos__eleccion--width{
        border:  solid black;
        width: 40%;
        
    }
    .buscador .buscador__container .buscador__de__vuelos__eleccion input{
        width: 70%;
    }
    .buscador__autos__eleccion{
        input{
            width:70%;
        }
    }
    .newsletter__input{
        width: 20rem;
    }
    .prefooter{
        flex-wrap: wrap;
        height: auto;
    }
    .prefooter .boton__arrepentimiento{
        margin-bottom: 2rem;
        
    }
    .financiamiento .financiamiento__formasdepago {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        justify-content: space-evenly;
     }
     .grid__container .ofertas__mes{
        width: 40rem;
     }
     .grid__container .ofertas__mes img{
        width: 27rem;
        height: 20rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__titulo{
        font-size: 4rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__subtitulo{
        width: 30rem;
        font-size: 2rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento {
        display: flex;
        flex-direction: column;
        
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__hotel{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 28rem;
        text-align: center;
     }
     .grid__container .container__titulo{
        margin: auto;
        width: 30rem;
     }
     .grid__container .container__titulo .ofertas__titulo{
        width: 30rem;
        margin: auto;
     }
     .grid__container .container__titulo .ofertas__subtitulo{
        text-align: center;
     }
     .grid__container .cuotas__interes{
        width: 40rem;
     }
     .grid__container .cuotas__interes .cuotas__interes__subfondo{
        width: 37rem;
     }
     .grid__container .cuotas__paisaje{
        width: 40rem;
     }
     .grid__container .cuotas__paisaje img{
        width: 37rem;
     }
     .autos{
        height:250rem;
    }
}

@media (max-width:590px){
    .buscador__container__titulo-boton{
        
        margin: auto;
        height: 14rem;
    }
    .buscador__container__checkboxboton{
        margin: 2rem 0;
    }
    .buscador__flex--position{
        display:flex;
        justify-content: center;
        height: 60rem;
        
    }
    .formulario__mail,.formulario__nombre,.formulario__titulo{
        text-align: center;
    }
    .formulario__titulo{
        font-size: $large;
        
        
    }  
}

@media (max-width:570px){
    .autos{
        height: auto;
    }
    .autos__container__flex{
        justify-content: center;    
    }
    .autos__alquiler__tamaño:active{
            
        cursor: pointer;
        transform: scale(1.02);
        
     }
}
 
/* MOBILE LARGE*/

@media(max-width:475px){
    .buscador .buscador__container__checkboxboton{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .buscador .buscador__container__checkboxboton .buscador__checkbox{
        margin-bottom: 2rem;
    }
    .buscador__container__titulo-boton{
        flex-wrap: inherit;
        
    }
   
    .grid__container .ofertas__mes{
        width: 28rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__imagen img{
        width: 23rem;
        height: 17rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__titulo {
        font-size: 3rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__subtitulo{
        width: 18rem;
        font-size: 1.6rem;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento{
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        align-items: center;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__descuento span{
        width: 15rem;
        text-align: center;
     }
     .grid__container .ofertas__mes .ofertas__mes__container__texto .ofertas__mes__hotel{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 24rem;
        text-align: center;
        font-size: 3rem;
     }
     .grid__container .cuotas__interes{
        width: 28rem;
        
     }
     .grid__container .cuotas__interes .cuotas__interes__subfondo{
        width: 25rem;
     }
     .grid__container .cuotas__interes .cuotas__interes__subfondo .cuotas__interes__subfondo__texto{
        font-size: 2.5rem;
        text-align: center;
        width: 19rem;
        height: 37rem;
        margin: auto;
     }
     .grid__container .cuotas__paisaje{
        width: 28rem;
     }
     .grid__container .cuotas__paisaje img{
        width: 25rem;
     }
     .ofertas__lugares__promo1,.ofertas__lugares__promo2,.ofertas__lugares__promo3,.ofertas__lugares__promo4{
        margin-bottom: 5rem;
     }
     .autos{
        height:400rem;
    }
    .autos__titulo{
        font-size: map-get($font-size,'x-large');
    }
    .newsletter{
        height: 15rem;
        align-items: flex-start;
    }
    .formulario__container{
        height: 65rem;
    }
    .formulario__titulo{
        text-align: center;
    }
    .formulario__nombre-apellido{
        flex-wrap: wrap;
    }
    .formulario__textarea{
        height: 15rem;
    }

    .formulario__botones{
        width: 80%;
    }
    
    .newsletter__texto{
        margin: 1rem 0;
        text-align: center;
    }
   
    .prefooter__boton{
    
        @include Boton-Flexible(10rem,5rem,$opacity-red-buttons);
        font-size: $small;
        &:hover{
            @include HoverBotonRojo();
        }
    }

    .footer{
        width: 100%;
        height: auto;
        font-size: 1.4rem;
         
    }
    .footer p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .prefooter{
        
        height: auto;
        justify-content: space-evenly;
        
    }
    .prefooter .prefooter__legales__textouno{
        margin-top: 2rem;
        font-size: $medium;
    }
    .prefooter .prefooter__legales__textodos{
        margin-bottom: 2rem;
        font-size: $medium;
    }
    .financiamiento{
        height: 65rem;
    }
    .financiamiento .financiamiento__titulo{
        margin-left: 2rem;
        margin-right: 1rem;
        text-align: center;
    }
    .financiamiento .financiamiento__formasdepago{
       margin-left: 1rem;
       margin-right: 1rem;
       margin-bottom: 2rem;
       justify-content: center;
       height: auto;
    }
    .financiamiento .financiamiento__formasdepago .financiamiento__formasdepago__iconos{
       padding: 1rem;
    }
    .contenido__principal{
        margin-left: 0;
        
    }
    .contenido__principal h2{
        font-size: 3rem;
        width: 38rem;
        margin: auto;
        text-align: center;
        
    }
    .contenido__principal img{
        width: 14rem;
        height: 10rem;
        margin-left: auto;
        
    }
}
@media (max-width:400px){
    .buscador__titulo--margin{
        text-align: center;
        margin-top: 2rem;
    }
    .newsletter__input{
        width: 15rem;
    }
    
}



@media(max-width:370px){
    
    .grid__container .container__titulo .ofertas__titulo{
        font-size: 3rem;
    }
    .grid__container .container__titulo .ofertas__subtitulo{
        font-size: 2rem;
    }
    .contenido__principal{
        margin-left: 0;
    }
    .contenido__principal h2{
        
        width: 20rem;
        margin: auto;
        
    }
    .contenido__principal img{
        width: 14rem;
        height: 10rem;
        margin:auto;
    }
    .buscador .buscador__titulo{
        font-size:$large;
    }
}
@media(max-width:330px){
    
    .financiamiento{
        height: 60rem;
    }
    /*
    .prefooter .boton__arrepentimiento button{
        width: 20rem;
    }
    */
    
    .prefooter .prefooter__legales__textouno{
        font-size: 1.5rem;
    }
    .prefooter .prefooter__legales__textodos{
        font-size: 1.5rem;
    }
    .footer{
        font-size: 1.4rem;
    }
    .financiamiento .financiamiento__boton__bancos{
        width: 20rem;
        font-size: 1.5rem;
    }
}