/* Sector previo al footer que comparten todas las paginas excepto el index.*/

.prefooter{
    @include D-Flex(column,center,center);
    flex-wrap: wrap;
    background: $prefooter;
    width: 100%;
    height: 21rem;
    .prefooter__legales__textouno{
        font-size: 1.9rem;
        word-spacing: 5px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 2rem;  
    }
    .prefooter__legales__textodos{
        font-size: 1.9rem;
        font-weight: 400;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;    
    }
    &__boton{
        
        @include Boton-Flexible(25rem,5rem,$opacity-red-buttons);
        &:hover{
            @include HoverBotonRojo();
        }
    }
    
}

