@mixin HeaderFondo() {
    
    background-size:cover;
    width: 100vw;
    height: 50rem;
    background-repeat: no-repeat;
}

@mixin FlexJustiBetween() {
    display: flex;
    justify-content: space-between;
    
}
@mixin D-Flex($direction,$justify-content,$align-items) {
    display: flex;
    flex-direction:$direction;
    justify-content:$justify-content;
    align-items:$align-items;
}

@mixin Boton-Flexible($ancho,$altura,$background) {
            border-radius: 0.9rem;
            width:$ancho;
            height:$altura;
            color:$buttons-color;
            background-color: $background;
            font-weight:400;
            font-family:$font-principal;
            font-size: map-get($font-size,'medium');
            border: 0;
            transition: 0.3s;         
}

@mixin Selectores-de-buscador($ancho,$altura) {
        width:$ancho;
        height:$altura;
        border-radius: 0.9rem;
        background-color: #AFACAC;
}


@mixin HoverBotonRojo() {
    cursor: pointer;
    background-color:$opacity-orange-buttons;
    transform: scale(0.9);
    box-shadow: 1px 3px 16px $opacity-black;
}

@mixin HoverBotonGris {
    cursor: pointer;
    transform: scale(0.94);
}

@mixin CardAlquiler(){
    border-radius: 1.9rem;
    width: 26.7rem;
    height: 40rem;
    box-shadow: 1px 3px 20px rgb(177, 169, 169);
}