/*Colores*/

$primary: black;
$secondary: #ff0000;
$opacity-black:rgba(0, 0, 0, 0.699);
$opacity-white: rgba(255, 255, 255, 0.9);
$opacity-black-footer:rgba(0, 0, 0, 0.836);
$opacity-red-buttons:rgba(238, 34, 34, 0.918);
$opacity-red:rgba(238, 34, 34, 0.767);
$text-color:white;

/*Fuentes*/

$font-principal:'poppins',sans-serif;

