/*Colores*/

$primary: black;
$secondary: #ff0000;
$opacity-black:rgba(0, 0, 0, 0.37);
$grey-buttons: rgb(73, 72, 72);
$opacity-black-header: rgba(0, 0, 0, 0.116);
$opacity-white: rgba(255, 255, 255, 0.952);
$opacity-black-footer:rgba(0, 0, 0, 0.836);
$opacity-red-buttons:rgba(238, 34, 34, 0.918);
$opacity-orange-buttons: rgb(255, 136, 0);
$opacity-red:rgba(238, 34, 34, 0.767);
$text-color:#ffffff;
$buttons-color:#ffffff;
$prefooter:#D9D9D9;

/*Fuentes*/

$font-principal:'poppins',sans-serif;

/*Tamaño de fuentes*/
$size-base:1rem;
$x-small:0.6rem;
$small:1rem;
$medium:1.5rem;
$large:2rem;
$x-large:3rem;
$xx-large:4rem;

/*ancho fuentes*/

$lighter:100;
$medium-width:300;
$large-width:500;
$bold:700;
$bolder:900;

/*Fondos*/

$fondo-autos: url(../img/bariloche.jpeg);

/*Maps*/

$font-size:(
    "base":$size-base,
    "x-small":$x-small,
    "small":$small,
    "medium":$medium,
    "large":$large,
    "x-large":$x-large,
    "xx-large":$xx-large,
    
);

